h1 {
    text-align: center;
    /* Primer valor eje x, segundo valor eje y */
    text-shadow: 2px 2px;
}

div.contenedor {
    width: 30%;
    height: 20%;
    margin: auto;
    border: 3px solid #a8dadc;
    padding: 15px;
    text-align: center;
}