h1 {
    text-align: center;
    color: #e63946;
}

div.contenedor {
    width: 30%;
    height: 20%;
    margin: auto;
    border: 3px solid #a8dadc;
    padding: 15px;
    color: #457b9d;
}

/* Para modificar los estados se utilizan los : */
div.contenedor:hover {
    background-color: #457b9d;
    color: #f1faee;
}