h1 {
    text-align: center;
    color: #e63946;
}

div.contenedor {
    width: 80%;
    height: 20%;
    margin: auto;
    border: 3px solid #a8dadc;
    padding: 15px;
    color: #457b9d;
}

/* Para usar descendiente se pone el elemento html separado por un espacio, en este caso p */
div.contenedor.descendiente p {
    background-color: #fdffb6;
}

/* Para usar el tipo child, se pone mayor que y el elemento html. Solo se aplica a hijos directamente */
div.contenedor.hijo > p {
    background-color: #ffc6ff;
}

/* Para usar el tipo sibling, se pone + y el elemento html. Si no se coloca elemento, se aplica a cualquiera */
div.contenedor.adyacente + p {
    background-color: #caffbf;
}