h1, div, p {
    border: 3px solid blueviolet;
    text-align: center;
    color: cornflowerblue;
    padding: 10px;
    /* display: inline;  El tipo inline pone los elementos uno al lado de otro */
    display: block;
}

span {
    display: block; /* span por default es inline */
    border: 1px solid black;
}

a {
    display: block;
}