h1, div, p {
    border: 3px solid blueviolet;
    text-align: center;
    color: cornflowerblue;
    padding: 10px;
    /* display: inline;  El tipo inline pone los elementos uno al lado de otro */
    display: block;
}

 /* h1 {
    display: none;
} Esta propiedad de display sobreescribe a la de arriba y el display none oculta el elemento de la pagina web.
 None lo desaparece sin reservar el espacio del elemento, si se usa visibility = hidden, este si ocupa el espacio reservado*/

span {
    display: block; /* span por default es inline */
    border: 1px solid black;
}

a {
    display: block;
}

li {
    display: inline;
}