h1 {
    text-align: center;
}

.rojo {
    /*background-color: FireBrick;*/

    /* Border en CSS */
    border: 4px solid firebrick;
}

.rosa {
    background-color: hotpink;
}

.amarillo {
    background-color: gold;
}

.violeta {
    background-color: blueviolet;
}

.verde {
    background-color: lime;
}

.azul {
    background-color: turquoise;
}

/* Agrupar clases para darles el mismo estilo */

.rosa, .violeta {
    color: white;
}