h1 {
    text-align: center;
}

.rojo {
    /*background-color: FireBrick;*/

    /* Border en CSS */
    border: 10px solid firebrick;
}

.rosa {
    background-color: hotpink;
}

.amarillo {
    border: 6px dashed gold;
}

.violeta {
    border: 10px double hsl(271, 76%, 53%);
}

.verde {
    background-color: lime;
}

.azul {
    background-color: turquoise;
}

/* Agrupar clases para darles el mismo estilo */

.rosa, .verde {
    color: white;
}