h1 {
    text-align: center;
}



.rojo {
    background-color: FireBrick;
}

.rosa {
    background-color: hotpink;
}

/* Agrupar clases para darles el mismo estilo */

.rojo, .rosa {
    color: white;
}