h1 {
    text-align: center;
    color: crimson;
}

div {
    /* position: relative;  Relative reserva su espacio y posteriormente se mueve lo indicado */
    position: fixed; /* de manera fija de toda la pantalla (viewport) se aplica la posicion indicada de top y left. no reserva espacio */
    top: 100px;
    left: 50px;
    /*max-width: 50%;*/
    border: 3px solid firebrick;
    /*margin: auto;*/
}