/* Selector universal para aplicar estilo a todo */

* {
    background-color: coral;
    color: cornflowerblue;
}

h1 {
    color: green !important; /* Toma prioridad con el important */
    font-size: 80px;
    text-align: left;
}

/* Estilo de tipo ID */
#titulo {
    color: pink;
    text-align: center;
    font-size: 40px;
}

/* Estilos de tipo clase */
.centrar {
    text-align: center;
}

.texto_grande {
    font-size: 20px;
}